@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('./style.css');

* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal: #ffffff;
    --cor-secundaria: red;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: #000000;
    color: #ffffff;
    
}