.titulo-destaque {
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 3% 0% 0% 18%;
}
.cabecalho__menu{
    display: flex;
    gap:80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    margin: 40px 0px 51px;
}

.conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.conteudo__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.conteudo__links__navegacao {
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--cor-principal);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.conteudo__links__navegacao:hover{
    background-color: #272727;
    border-color: var(--cor-secundaria);
}

.icone{
    font-size: 35px !important;
    color: var(--cor-secundaria);
}

.apresentacao__imagem{
    width: 50%;
}
.rodape{
    display: flex;
    justify-content: center;
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    padding: 24px;
}

@media (max-width:1200px){
    .apresentacao{
        flex-direction: column-reverse ;
    }

}